:root {
	--clr-borda: var(--clr-white);

	--clr-main-a0: var(--clr-red-a0);
	--clr-main-a10: var(--clr-red-a10);
	--clr-main-a20: var(--clr-red-a20);
	--clr-main-a30: var(--clr-red-a30);
	--clr-main-a40: var(--clr-red-a40);
	--clr-main-a50: var(--clr-red-a50);

	--clr-black-a0: rgb(248, 237, 255);
	--clr-black-a10: lch(from var(--clr-black-a0) calc(l + 32) c h);

	--clr-gray-a0: lch(from var(--clr-black-a0) calc(l - 5) c calc(h + 10));
	--clr-gray-a10: lch(from var(--clr-black-a0) calc(l - 11) c calc(h + 10));
	--clr-gray-a20: lch(from var(--clr-black-a0) calc(l - 20) c calc(h + 10));
	--clr-gray-a30: lch(from var(--clr-black-a0) calc(l - 30) c calc(h + 10));
	--clr-gray-a40: lch(from var(--clr-black-a0) calc(l - 50) c calc(h + 10));
	--clr-gray-a50: lch(from var(--clr-black-a0) calc(l - 60) c calc(h + 10));

	--clr-white: rgb(12, 12, 12);

	--clr-red-a30: #f75231;
	--clr-pink-a30: #ff9cc5;
	--clr-orange-a30: #ff8408;
	--clr-blue-a30: #00a8f8;
	--clr-purple-a30: #6b63ff;
	--clr-yellow-a30: #ffff3a;
	--clr-green-a30: #63ce08;

	--pokeborder: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAC1ElEQVR4AeyaUW4DMQhE297/zi38dM3Egs5Ckk06lS2ZnTHGTxbqR74+6r9vs2TT5Lca2V1dSy/7F6BpAomRgIBGHu1IQNsIY4IdUO8T6/y0Leu0MIzV6+sgWuDfrjStpDCwtvWuvg5mC9Bvn46xA3qoWtEEBJRGlm8Q0JwPrTrQtCdYxko3Sxjo9z50pYn1heItqHSzhBH8DjSoCnoEBLTH72a3gN4g6X3YAa36XaVXFYWeY+Z7x3ZEOqr7VHpIvgMaDAo4AgLK8SrdAloi4gwOFHsE9rQqI/q7+arzWH26vjSfA2ULlD8hIKAJnDOSgJ6hluzZAa16YNpD7KxKx/yPjqv6UMcY67UrH2MH9FC1ogkIKI0s3yCgOR9a3QGtegb2kMrvRV1psvVX/nC3HdBgUMAREFCOV+kW0BIRZzgDFHsmd+L13a37nQF6fSRPrFBAh+ELqIAOExhOpxcqoMMEhtPphf4joMNXfUw6vdBhzgIqoMMEhtPphQroMIHhdHqhAjpMYDidXqiADhMYTqcXKqDDBIbTvdsLHcbDpxNQnlm6Q0BTPLwooDyzdIeApnh4UUB5ZukOAU3x8KKA8szSHWeA4u8l0wNeUGzd7wzQF2T0uJIFdJi1gD4AKPYQ/L0kxpV/uOR2Oqy/qr/yh4L0QgOOfiCgfYYhg4AGHP1gB5TqGVZC5Uf92XHVM1G3K4aB9QdxBzQYFHAEBJTjVboFtETEGRxo2hMsXaWbJQz0Vz0pbL5DgOdjfXhkpad+B4oGxQ0CAtqAt9sqoDsqjW87oNhz2Lgqh83X9d+jnrWmkH8HNBgUcAQElONVugW0RMQZHOjaD3zd+j/Mjvcc68R8z47X2nyN9dgV0oF+z/E7HWi6WyJHQEA5XqVbQEtEnGEH9LcfWCpfY8/A2D3rtG1hrNoV1qE4C7AmvB/G6LcUx9gBPVStaAICSiPLNwhozodWfwAAAP//6YziJwAAAAZJREFUAwBuNmioOFS4CQAAAABJRU5ErkJggg==");
}

figure:has(img) {
	position: relative;
	gap: 0;
}

figure:has(img) img {
	display: block;
	max-width: 100%;
	position: relative;
	image-rendering: pixelated !important;
	border: 28px solid transparent;
	border-image-outset: 0;
	border-image-slice: 36%;
	border-image-repeat: round round;
	border-image-source: var(--pokeborder) !important;
}
figcaption {
	padding: 0.5rem 1rem;
}
