<!DOCTYPE html>
<html lang="pt-br">
    <head>{% include "head.njk" ignore missing %}</head>
    <body {% if site.crt %}class="crt"{% endif %}>
        {% if site.bayerOverlay %}
            <div class="contrastadjust"></div>
            <div class="matrix"></div>
        {% endif %}
        {% include "header.njk" ignore missing %}
        <div id="container">
            <main>
                {% if imgPrincipal and imgPrincipalPos != "side" %}
                    <figure>
                        <img src="{{ imgPrincipal }}"
                             class="imgPrincipal"
                             alt="{% if imgPrincipalOriginal %}hover-original{% endif %}" />
                        {% if imgPrincipalCaption %}
                            <figcaption>{{ imgPrincipalCaption | renderMarkdownInline | safe }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                <h1 id="tituloPagina">{{ title }}</h1>
                {% if subtitulo %}<h2 id="subtitulo">{{ subtitulo | safe }}</h2>{% endif %}
                {% include "toc.njk" ignore missing %}
                {{ content | safe }}
                {% if page.url != "/" %}
                    {% if not noBacklinks %}
                        {% include "backlinks.njk" ignore missing %}
                    {% endif %}
                    {% include "postFooter.njk" ignore missing %}
                {% endif %}
            </main>
            {% if imgPrincipalPos == "side" %}
                <aside>
                    {% if imgPrincipal and imgPrincipalPos == "side" %}
                        <figure>
                            <img src="{{ imgPrincipal }}" class="imgPrincipal" alt="invert" />
                            {% if imgPrincipalCaption %}
                                <figcaption>{{ imgPrincipalCaption | renderMarkdownInline | safe }}</figcaption>
                            {% endif %}
                        </figure>
                    {% endif %}
                    {% if page.url == "/" %}
                        <fieldset class="changelog">
                            <legend>changelog</legend>
                            {% for log in changelog -%}
                                <h2>
                                    v{{ log.v }}<small>{{ log.date }}</small>
                                </h2>
                                <ul>
                                    {% for changes in log.items -%}
                                        <li>{{ log.items }}</li>
                                    {% endfor -%}
                                </ul>
                            {% endfor -%}
                        </fieldset>
                        <div class="banners">
                            <a href="https://daliwali.neocities.org"
                               target="_blank"
                               data-smt-title="daliwali">
                                <img src="https://daliwali.neocities.org/assets/buttons/daliwali.gif"
                                     alt="daliwali">
                            </a>
                            <a href="https://dudalog.neocities.org"
                               target="_blank"
                               data-smt-title="dudalog">
                                <img src="https://dudalog.neocities.org/_astro/dudalog-button-main.BGVXOPHJ.png"
                                     alt="dudalog">
                            </a>
                            <a href="https://fauux.neocities.org"
                               target="_blank"
                               data-smt-title="fauux">
                                <img src="https://fauux.neocities.org/fauux-btn-01.gif" alt="fauux">
                            </a>
                            <a href="https://frajola.neocities.org"
                               target="_blank"
                               data-smt-title="frajola">
                                <img src="/assets/img/88x31-banners/frajola.gif" alt="frajola">
                            </a>
                            <a href="https://omni.vi" target="_blank" data-smt-title="OMNI">
                                <img src="https://omni.vi/assets/omnibutton.gif" alt="OMNI">
                            </a>
                            <a href="https://princss.online"
                               target="_blank"
                               data-smt-title="princss">
                                <img src="https://princss.online/media/images/buttons/princss_button.png"
                                     alt="princss">
                            </a>
                            <a href="https://psychicnewborn.neocities.org"
                               target="_blank"
                               data-smt-title="psychicnewborn">
                                <img src="https://psychicnewborn.neocities.org/media/button.gif"
                                     alt="psychicnewborn">
                            </a>
                            <a href="https://sitcomtheory.org"
                               target="blank"
                               data-smt-title="SITCOM THEORY">
                                <img src="https://sitcomtheory.neocities.org/BUTTONS/sitcombutton.webp"
                                     alt="SITCOM THEORY">
                            </a>
                            <a href="https://vinizinho.net"
                               target="_blank"
                               data-smt-title="vinizinho">
                                <img src="https://vinizinho.net/figures/button_1.png" alt="vinizinho">
                            </a>
                        </div>
                    {% endif %}
                </aside>
            {% endif %}
        </div>
        {% include "footer.njk" ignore missing %}
        {% include "scripts_bottom.njk" ignore missing %}
    </body>
</html>
