<div id="backlinks_section">
  <h1 class="backlinks-title larger">Backlinks</h1>
  {% set backlinksList = backlinks %}
  {% if (not backlinksList or backlinksList | length == 0) and collections and collections.backlinks %}
    {% set backlinksList = collections.backlinks | backlinksForUrl(page.url) %}
  {% endif %}
  {% if backlinksList and backlinksList | length > 0 %}
    <ul class="backlinks-container">
      {% for link in backlinksList %}
        <li class="backlink">
          <a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
          <div class="backlink__preview" role="none">{{ link.preview | safe }}</div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="backlinks-default">Nenhum backlink encontrado.</p>
  {% endif %}
</div>
